@import 'styles/variables/mqueries.scss';

section#footer {
    background-color: #404040;
    display:flex;
    flex-wrap: nowrap;
    position:relative;

    @media #{$all-narrow} {
        height:700px;
    }

}

section#footer .wrapper-central {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin:50px auto;
    height: auto;
}

section#footer .wrapper-central > div {
    width: 31.3%;
    margin: 1%;

    @media #{$all-narrow} {
        width:98%;
        text-align: center;
    }
}

section#footer .izq {
    margin-top: 40px;

    @media #{$all-narrow} {
        position:absolute;
        top: 400px;
    }

    font-size: 1.2em;
}

section#footer .izq .ubicacion ul {
    margin: 0;
}

section#footer .izq .ubicacion li{
    margin: 15px 0;
}

section#footer .izq .ubicacion li h3 {
    display: inline;
    color: #62c9d8;
} 

section#footer .izq .ubicacion li span {
    display: block;
    color: #ccc;
}

section#footer .izq > div {
    margin: 10px 0;
}

section#footer .izq > div a {
    color: #ccc;
    text-decoration: none;
}

section#footer .izq > div i {
    color: #62c9d8;
    font-size: 20px;
    margin-right:12px;
}

section#footer .izq > .horarios {
    margin: 0 12px;
}

section#footer .cen {
    margin-top: 27px !important;
    text-align: center;

    @media #{$all-narrow} {
        margin-top: 0;
        position:absolute;
        top: 180px;
    }
}

section#footer .cen a{
    display: block;
    height: 120px;
    margin: 30px auto;
    width: 120px;
    position: relative;
}

section#footer .cen img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

section#footer .der {   
    margin-top: 30px !important;
    color: #ccc;
    text-align: right;

    @media #{$all-narrow} {
        margin:auto;
        position:absolute;
        top: 0;
    }

}

section#footer .der .linea {

    float:right;
    background-color: #62c9d8;
    width: 70px;
    height: 2px;
    margin: 10px 0;
    @media #{$all-narrow} {
        margin:30px auto;
        float: none;
    }
}

section#footer .der ul {
    clear:both;
    display: block;
    line-height: 1.5em;
    margin: 0;
}

section#footer .der ul h3 {
    margin: 5px 0;
    color: #62c9d8;
}

section#footer .der li {
    margin: 10px 0;
    list-style: none;
    margin-left:50px;
    text-align: right;
    font-size: 1.2em;
}

section#footer .der li.ver a {
    color: #62c9d8;
}