@import 'styles/variables/mqueries.scss';

section#footer {
    background-color: #404040;
    display:flex;
    flex-wrap: nowrap;
    position:relative;

}

section#footer .wrapper-central {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin:50px auto;
    height: auto;
}

section#footer .wrapper-central > div {
    width: 31.3%;
    margin: 1%;

    @media #{$all-narrow} {
        width:98%;
        text-align: center;
    }
}

section#footer .izq {
    margin-top: 40px;
}

section#footer .izq > div {
    margin:10px;
}

section#footer .izq > div span {
    color: #ccc;
    font-size: 1.2em;
}

section#footer .izq > div a {
    color: #ccc;
    text-decoration: none;
}

section#footer .izq > div i {
    color: #62c9d8;
    font-size: 20px;
    margin:12px;
}

section#footer .izq > .linea {

    background-color: #62c9d8;
    width: 70px;
    height: 2px;
    margin: 30px 22px;
    @media #{$all-narrow} {
        margin:30px auto;
    }
}

section#footer .izq > .horarios {
    margin: 0 12px;

}

section#footer .cen {
    margin-top: 27px !important;
    text-align: center;
    height: 300px;
}

section#footer .cen img {
    height:90%;
    margin:auto;
}

section#footer .der {
    margin-top: 40px;

    @media #{$all-narrow} {
        display:none;
    }
}

section#footer .der li {
    margin: 12px;
    list-style: none;
    margin-left:50px;
    text-align: right;
}

section#footer .der li a {
    color: #ccc;
    font-size: 1.2em;
    text-decoration: none;
    line-height: 1.7em;
}

section#footer .der li.ver a {
    color: #62c9d8;
}