@import 'styles/variables/mqueries.scss';

section#contacto h1 {
    background-color: #62c9d8;
    color: #fff;
    text-align: center;
    padding: 50px 0;
    font-size: 2.5em;
    font-weight: bold;
}

section#contacto .wrapper-central {
    padding: 50px 0;
}

section#contacto .wrapper-central p.subtitulo {
    font-size: 1.3em;
    width:800px;
    text-align: center;
    margin: auto;
    margin-bottom: 30px;
    line-height: 1.8em;
    max-width: 100%;;
}

section#contacto .wrapper-central .imagen {
    width: 100%;
    margin-top: 35px;
}

section#contacto .wrapper-central .est {
    text-align: center;
}

section#contacto .wrapper-central .imagen img {
    width: 100%;    
    height: 250px;
    object-fit: cover;
    object-position: 38%;
}

section#contacto .wrapper-central .cajas {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-top:30px;
    @media #{$all-narrow} {
        display:block;
    }
}

section#contacto .wrapper-central .cajas > div {
    width: 46%;
    background-color: #eee;
    color: #777;
    box-sizing: border-box;
    padding: 30px;
    @media #{$all-narrow} {
        width:100%;
    }
}

section#contacto .wrapper-central .cajas label {
    display:block;
    clear: both;
    width: 80%;
    margin: 10px;
    text-align: left;
    font-size: 1.1em;
    color: #62c9d8;
}

section#contacto .wrapper-central .cajas input,
section#contacto .wrapper-central .cajas select,
section#contacto .wrapper-central .cajas textarea {
    display:block;
    width: 80%;
    border: 2px solid #62c9d8;
    background-color: #fff;
    padding: 8px;
    margin: 10px;
}

section#contacto .wrapper-central .cajas button {
    clear: both;
    box-shadow: none;
    border: 0;
    display: block;
    margin: 20px;
    margin-top: 40px;
    padding: 15px 25px;
}

section#contacto .wrapper-central .cajas h3 {
    font-size: 1.4em;
    width:100%;
    text-align:center;
    padding: 20px 0;
}

section#contacto .wrapper-central .cajas .der {   
   text-align: left;
   margin-left: 30px;
   @media #{$all-narrow} {
    margin: 0;
    margin-top: 10px;
   }

}

section#contacto .wrapper-central .cajas .der .horarios {
    margin-left: 20px;
}

section#contacto .wrapper-central .cajas .der .linea {

    float:left;
    background-color: #62c9d8;
    width: 70px;
    height: 2px;
    margin: 30px 0;
    @media #{$all-narrow} {
        margin:30px auto;
    }
}

section#contacto .wrapper-central .cajas .der span {
    clear:both;
    display: block;
    line-height: 1.5em;
    font-size: 1.2em;
}

section#contacto .wrapper-central .cajas .der li {
    margin: 12px;
    list-style: none;
    margin-left:50px;
    text-align: left;
}

section#contacto .wrapper-central .cajas .der li a {
    color: #333;
    font-size: 1.2em;
    text-decoration: none;
    line-height: 1.7em;
}

section#contacto .wrapper-central .cajas .der li.ver a {
    color: #62c9d8;
}

section#contacto .wrapper-central .info {
    margin:10px;
    width:100%;
}

section#contacto .wrapper-central .info > div {
    clear: both;
    display: flex;
    flex-wrap: nowrap;
}

section#contacto .wrapper-central .info > div span {
    margin: 5px;
}

section#contacto .wrapper-central .info > div a {
    color: #777;
    text-decoration: none;
}

section#contacto .wrapper-central .info > div i {
    color: #62c9d8;
    font-size: 20px;
    margin: 10px;
}

section#contacto .wrapper-central iframe {
    margin-top: 30px;
}