@import 'styles/variables/mqueries.scss';

section#home-accesos {
    padding: 20px 0;
    padding-bottom: 100px;
}

section#home-accesos ul {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    @media #{$all-narrow} {
        flex-wrap: wrap;
    }
}

section#home-accesos li {
    width: 28vw;
    margin: 2vw;
    height: 300px;
    list-style: none;
    @media #{$all-narrow} {
        width: 96vw;
    }
}

section#home-accesos li h2 {
    margin: 10px 0;
    text-align: left; 
}

section#home-accesos li .linea {
    background-color: #62c9d8;
    width: 80px;
    height: 5px;
    margin-bottom: 20px;
}

section#home-accesos li:hover .linea {
}

section#home-accesos li.tomografia .linea {
    background-color: #eb7832;
}

section#home-accesos li.resonancia .linea {
    background-color: #5aa838;
}

section#home-accesos li.ecografia .linea {
    background-color: #6f569f;
}

section#home-accesos li img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    @media #{$all-narrow} {
        height: 80%;
    }
}

section#home-accesos li:hover img {
    opacity: 0.7
}

section#home-accesos li a {
    text-decoration: none;
    color: #333;
}

section#home-accesos li.tomografia:hover a {
    color: #eb7832;
}

section#home-accesos li.resonancia:hover a {
    color: #5aa838;
}

section#home-accesos li.ecografia:hover a {
    color: #6f569f;
}
