section#estudios {
    padding: 20px 0;
    padding-bottom: 100px;
}

section#estudios h1 {
    background-color: #62c9d8;
    color: #fff;
    text-align: center;
    padding: 50px 0;
    font-size: 2.5em;
    font-weight: bold;
}

section#estudios ul {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around
}

section#estudios li {
    width: 28vw;
    margin: 2vw;
    height: 32vh;
    list-style: none;
}

section#estudios li h2 {
    margin: 10px 0;
    text-align: left; 
}

section#estudios li .linea {
    background-color: #62c9d8;
    width: 80px;
    height: 5px;
    margin-bottom: 20px;
}

section#estudios li:hover .linea {
}

section#estudios li.tomografia .linea {
    background-color: #eb7832;
}

section#estudios li.resonancia .linea {
    background-color: #5aa838;
}

section#estudios li.ecografia .linea {
    background-color: #6f569f;
}

section#estudios li img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

section#estudios li:hover img {
    opacity: 0.7
}

section#estudios li a {
    text-decoration: none;
    color: #333;
}

section#estudios li.tomografia:hover a {
    color: #eb7832;
}

section#estudios li.resonancia:hover a {
    color: #5aa838;
}

section#estudios li.ecografia:hover a {
    color: #6f569f;
}
