a {
    text-decoration: none;
    color: #62c9d8;
}

p {
    margin: 20px 0;
}

ul {
    margin:10px;
}

li {
    list-style: none;
    list-style-position: inside;
    margin:5px;
    
}

h2 {
    margin-top: 30px;
    margin-bottom: 15px;
}

.clearfix {
    clear: both;
}

.btn {
    padding: 15px;
    border-radius: 10px;
    font-size: 0.8em;
    font-weight: bold;
    color: #fff;
    background-color: #62c9d8;
    margin-top: 20px;
    display: inline-block;
}