@import 'styles/variables/mqueries.scss';

section#home-slider {
    position:absolute;
    top: 0;
    left:0;
    width:100%;
    bottom: 0;
    background-color: #000;
}

section#home-slider .slider-container .react-parallax {
    position: absolute !important;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-position: center;
    background-size: cover;
    z-index: 5;
    opacity: 0.8;
}

section#home-slider .slider-container .react-parallax img {
    @media #{$all-narrow} {
        width: 100% !important;
        height: 100% !important;
        object-fit: cover !important;
        margin-top: 250px;
        display: block;
    }
    @media #{super-narrow} {
        margin-top: 310px;
    }
}

section#home-slider .slider-container .texto {
    position:absolute;
    top: 30vh;
    left: 60px;
    z-index: 10;
    font-size: 1.5em;
    width: 40%;
    color: #fff;

    @media #{$square} {
        top: 20vh;
    }

    @media #{$narrow} {
        top: 12vh;
        width: 70%;
        font-size: 1.3em;
    }

    @media #{$super-narrow} {
        top: 5vh;
        width: 70%;
        font-size: 1.3em;
    }

}

section#home-slider .slider-container .texto .linea {
    background-color: #62c9d8;
    width: 80px;
    height: 2px;
    margin: 20px 0;
}

section#home-slider .slider-container .btn {
    padding: 15px;
    border-radius: 10px;
    font-size: 0.8em;
    font-weight: bold;
    color: #fff;
    background-color: #62c9d8;
    margin-top: 20px;
    display: inline-block;
}

section#home-slider .navigation {
    position: absolute;
    bottom: 20px;
    width: 100%;
    text-align: center;
    z-index:50;
}

section#home-slider .navigation ul.pages {
    display:flex;
    flex-wrap: nowrap;
    margin:auto;
    width: 300px;
    justify-content: space-between;
}

section#home-slider .navigation ul.pages li {
    margin: 10px;
    color: #fff;
    cursor: pointer;
    font-size: 1.2em;
    font-weight: bold;


    background-color: #fff;
    width: 10px;
    height: 10px;
    border-radius: 50%;
}

section#home-slider .navigation ul.pages li.active {
    color: #62c9d8;
    background-color: #62c9d8;
}

section#home-slider .arrowLeft {
    z-index: 50;
    position: absolute;
    top: 45%;
    left:20px;
}

section#home-slider .arrowLeft i{
    font-size: 35px;
    color: #fff;
}

section#home-slider .arrowRight {
    z-index: 50;
    position: absolute;
    top: 45%;
    right:20px;
}

section#home-slider .arrowRight i{
    font-size: 35px;
    color: #fff;
}
