@import 'styles/variables/mqueries.scss';

section#home-top-bar{
    position:relative; 
    width: 100%;
    background-color: #eee;
    color: #7f7f7f;
}

section#home-top-bar .datos-container {
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    margin-right: 40px;
    @media #{$all-narrow} {
        
        margin: auto;
        justify-content: space-around;
        margin-right: 0;
    }
    
}

section#home-top-bar .datos-container > div {
    margin: 20px;
    font-size:1.1em;

    @media #{$square} {
        margin: 15px 20px;
    }
    @media #{$narrow} {
        margin: 12px 20px;
    }
    @media #{$super-narrow} {
        margin: 10px 20px;
    }
}

section#home-top-bar .datos-container > div > i {
    margin-right:8px;
    color: #62c9d8;
}

section#home-top-bar .datos-container > div a{
    text-decoration: none;
    color: #7f7f7f
}

section#home-top-bar .datos-container > div a:hover {
    color: #ddd
}