#header {
    height: auto;
    background-color: #fff;
    width:100%;
    z-index: 90;
}

#header.fixed {
    position: fixed;
    top:0;
}

#header.fixed #home-top-bar {
    display: none;
}

#header.fixed #home-menu {
    height: 120px;
}

#header.fixed #home-menu .logo {
    top: 12px;
    left: 15px;
    height: 72px;
}

#header.fixed #home-menu .menu ul li {
    margin-top: 42px;
}

#header.fixed #home-menu .estudios {
    top: 16px;
}