@import 'styles/variables/mqueries.scss';

section#home-inicio {
    position: relative;
    height: 80vh;
    height: calc(100vh - 210px);

    @media #{$square} {
        height: calc(100vh - 200px);
    }

    @media #{$narrow} {
        height: calc(100vh - 210px);
    }

    @media #{$super-narrow} {
        height: calc(100vh - 240px);
    }
}

