section#estudio-tomografia h1 {
    background-color: #62c9d8;
    color: #fff;
    text-align: center;
    padding: 50px 0;
    font-size: 2.5em;
    font-weight: bold;
}

section#estudio-tomografia .wrapper-central {
    padding: 50px 0;
}

section#estudio-tomografia .wrapper-central p.subtitulo {
    font-size: 1.3em;
    width:800px;
    text-align: center;
    margin: auto;
    margin-bottom: 80px;
    line-height: 1.8em;
    max-width: 80%;
}

section#estudio-tomografia .wrapper-central img {
    width:100%;
    max-height: 400px;
    object-fit: cover;
}

section#estudio-tomografia .wrapper-central ol > li {
    list-style: decimal;
    list-style-position: inside;
}

section#estudio-tomografia .wrapper-central ol > li ul > li::before {
    content: "\2022";
    color: #62c9d8;
    font-weight: bold;
    display: inline-block;
    width: 16px;
    font-size: 1.3em;
    margin-left: 15px;
}

section#estudio-tomografia .wrapper-central .atencion {
    width:90%;
    margin: 10px;
    padding: 20px;
    color: #AA0000;
    border: 1px solid #AA0000;
}

section#estudio-tomografia .wrapper-central .examenes ul > li.categoria > ul > li::before {
    content: "\2022";
    color: #eb7832;
    font-weight: bold;
    display: inline-block;
    width: 16px;
    font-size: 1.3em;
    margin-left: 15px;
}


section#estudio-tomografia .wrapper-central .examenes ul > li {
    margin-left: 20px;
}

section#estudio-tomografia .wrapper-central .examenes ul > li.categoria > span {
    font-size: 1.2em;
    color: #eb7832;
    font-weight: bold;
    cursor: pointer;
}

section#estudio-tomografia .wrapper-central .examenes ul > li.categoria > div {
    display: inline-block;
    position:relative;
    width: 10px;
    height: 17px;
    margin-left: 10px;
    margin-top: 3px;
}

section#estudio-tomografia .wrapper-central .examenes ul > li.categoria > div i {
    font-size: 1.2em;
    color: #eb7832;
    font-weight: bold;
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
}

section#estudio-tomografia .wrapper-central .examenes ul > li.categoria > div i.fa-sort-up {
    top:8px;
}

section#estudio-tomografia .wrapper-central .examenes ul > li.categoria > ul.closed {
    display:none;
}

section#estudio-tomografia .wrapper-central .examenes ul > li.categoria > ul.open {
    display:block;
}

section#estudio-tomografia .wrapper-central .preguntas .preg {
    font-size: 1.2em;
    color: #eb7832;
    font-weight: bold;
    cursor: pointer;    
}

section#estudio-tomografia .wrapper-central .preguntas .resp.open {
    display:block;
    margin: 20px;
}

section#estudio-tomografia .wrapper-central .preguntas .resp.closed {
    display:none;
}